<script type="text/x-handlebars-template">
  {{#if this.userStatistics.length}}
    <div class="counters">
      <div class="counter">
        <i class="fa fa-users" aria-hidden="true"></i>
        <div class="counter-value">
          <span>Active users:</span>
          <span>{{users}}</span>
        </div>
      </div>
      <div class="counter">
        <i class="fa fa-area-chart" aria-hidden="true"></i>
        <div class="counter-value">
          <span>Flood:</span>
          <span>{{flood}}</span>
        </div>
      </div>
      <div class="counter">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <div class="counter-value">
          <span>Messages:</span>
          <span>{{messages}}</span>
        </div>
      </div>
      <div class="counter">
        <i class="fa fa-font" aria-hidden="true"></i>
        <div class="counter-value">
          <span>Words:</span>
          <span>{{words}}</span>
        </div>
      </div>
    </div>
    <div class="user-statistics-and-keywords">
      <div class="user-statistics">
        <table id="${userStatisticsTableId}" class="table">
          <thead>
          <tr>
            <th>User</th>
            <th>Flood</th>
            <th>Messages</th>
            <th>Words</th>
          </tr>
          </thead>
          <tbody>
          {{#each this.userStatistics}}
            <tr>
              <td>
                {{#if (eq @index 0)}}
                  <i class="rank rank-03-e5"></i>
                {{else if (eq @index 1)}}
                  <i class="rank rank-03-e4-1"></i>
                {{else if (eq @index 2)}}
                  <i class="rank rank-03-e2"></i>
                {{/if}}
                {{name}}
              </td>
              <td>{{floodPercent}} %</td>
              <td>{{messages}}</td>
              <td>{{words}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
      <div class="delimeter"></div>
      <div class="keywords">
        <table id="${keywordsTableId}" class="table">
          <thead>
          <tr>
            <th>Keywords</th>
          </tr>
          </thead>
          <tbody>
          {{#each this.keywords}}
            <tr>
              <td><div>{{this.word}} <span class="badge">{{this.count}}</span></div></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        <div>
        </div>
      </div>
    </div>
  {{else}}
    <div>
      No flood today :(
    </div>
  {{/if}}
</script>
